:root {
  --light-green: hsl(148, 38%, 91%);
  --green: hsl(169, 82%, 27%);
  --red: hsl(0, 66%, 54%);
  --white: hsl(0, 0%, 100%);
  --gray: hsl(186, 15%, 59%);
  --dark-gray: hsl(187, 24%, 22%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Karla", sans-serif;
  font-size: 16px;
  background-color: var(--light-green);
  width: 100%;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.form {
  display: grid;
  grid-template-columns: repeat(2, minmax(auto, 1fr));
  align-items: flex-start;
  gap: 1rem;
  background-color: var(--white);
  padding: 2rem;
  border-radius: 1rem;
  margin-bottom: 4rem;
}

.form > h1 {
  grid-column: 1 / -1;
  margin-bottom: 1.5rem;
}

.form > div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form > div:nth-of-type(1), .form > div:nth-of-type(2) {
  grid-column: span 1;
}

.form > div:nth-of-type(3) {
  grid-column: 1 / -1;
}

.form > div:nth-of-type(4) {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: repeat(2, minmax(auto, 1fr));
  align-items: flex-start;
}

.form > div:nth-of-type(4) > span {
  grid-column: 1 / -1;
}

.form > div:nth-of-type(4) > div {
  grid-column: span 1;
  padding: 1rem 2rem;
  border: 1px solid var(--dark-gray);
  border-radius: 0.5rem;
}

.form > div:nth-of-type(5) {
  grid-column: 1 / -1;
}

.form > div:nth-of-type(6) {
  grid-column: 1 / -1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.form > button {
  grid-column: 1 / -1;
}