:root {
  --light-green: hsl(148, 38%, 91%);
  --green: hsl(169, 82%, 27%);
  --dark-green: hsl(171, 83%, 14%);
  --red: hsl(0, 66%, 54%);
  --white: hsl(0, 0%, 100%);
  --gray: hsl(186, 15%, 59%);
  --dark-gray: #2b4246;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

body {
  font-family: "Karla", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: var(--light-green);
  width: 100%;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  border: 0;
  outline: none;
}

input {
  padding: 0.625rem 1.25rem;
  border: 1px solid var(--gray);
  border-radius: 0.5rem;
}

textarea {
  min-height: 6em;
  padding: 0.625rem 1.25rem;
  border: 1px solid var(--gray);
  border-radius: 0.5rem;
}

input:hover,
textarea:hover,
input:focus,
textarea:focus,
input:active,
textarea:active {
  border: 1px solid var(--green);
}

.highlight {
  color: var(--green);
}

.form {
  width: 650px;
  display: grid;
  grid-template-columns: repeat(2, minmax(auto, 1fr));
  align-items: flex-start;
  gap: 1rem;
  background-color: var(--white);
  padding: 2rem;
  border-radius: 1rem;
  margin-bottom: 4rem;
}

.form > h1 {
  grid-column: 1 / -1;
}

.form > div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}

.form > div:nth-of-type(1),
.form > div:nth-of-type(2) {
  grid-column: span 1;
}

.form > div:nth-of-type(3) {
  grid-column: 1 / -1;
}

.form > div:nth-of-type(4) {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: repeat(2, minmax(auto, 1fr));
  align-items: flex-start;
  gap: 1rem;
}

.form > div:nth-of-type(4) > span {
  grid-column: 1 / -1;
}

.form > div:nth-of-type(4) > div {
  grid-column: span 1;
  display: flex;
  align-items: center;
  border: 1px solid var(--gray);
  border-radius: 0.5rem;
  cursor: pointer;
  position: relative;
}

.form > div:nth-of-type(4) > div > input {
  position: absolute;
  top: 50%;
  left: 1.25rem;
  transform: translate(0%, -50%);
  cursor: pointer;
}

.form > div:nth-of-type(4) > div:has(input:checked) {
  background-color: var(--light-green);
}

.form > div:nth-of-type(4) > div > label {
  flex-grow: 1;
  padding: 0.625rem 1.25rem 0.625rem 2.75rem;
  cursor: pointer;
}

.form > div:nth-of-type(5) {
  grid-column: 1 / -1;
  margin-bottom: 1rem;
}

.form > div:nth-of-type(6) {
  grid-column: 1 / -1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 1rem;
}

.form > div:nth-of-type(6) > label {
  cursor: pointer;
}

.form > button {
  grid-column: 1 / -1;
  color: var(--white);
  background-color: var(--green);
  padding: 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.form > button:hover {
  background-color: var(--dark-green);
}
